.formBackground {
    background-color: #eef2ff;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
}



.formContainer {
    background-color: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    height: 100%;
    border-radius: 10px;
    width: 100%;

}

@media screen and (min-width: 950px) {
    .formContainer {
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        height: 100%;
        border-radius: 10px;
        width: 70%;
    }
}



@media screen and (min-width: 1000px) {
    .formContainer {
        background-color: white;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        height: 100%;
        border-radius: 10px;
        width: 45%;
    }
}

.divForm {
    padding: 10px;
    margin: 20px 20px;
    background-color: transparent;
}

.transparent {
    background-color: white;
}

.titleForm {
    text-align: center;
    background-color: transparent;
    margin-bottom: 9px;
}

.titleForm h2 {
    background-color: transparent;
}

.formForm {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.jobInputHolder {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.labelType,
.labelJobListingName,
.description,
.salary,
.location,
.comName,
.comDes,
.comContact,
.labelJobListingName,
.comPhone {
    color: #374151;
    font-weight: 1000;
    background-color: transparent;
    margin-bottom: 10px;
}




.typeID,
.titleID,
.descriptionID,
.typeSalaryID,
.locationID,
.companyNameID,
.companyDescriptionID,
.contactEmailID,
.contactPhoneID {
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 10px;
    background-color: transparent;
}



.addBTN {
    margin-top: 20px;
    height: 50px;
    color: white;
    background-color: #6366f1;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 20px;
}

.addBTN:hover {
    background-color: aqua;
}

.addBTN:active {
    background-color: aqua;
    transform: translateY(3px);
}