.tagbox {
    position: relative;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

@media screen and (min-width: 989px) {
    .tagbox {
        display: flex;
        /* Use flexbox */
        align-items: center;
        flex-direction: row;
        height: 300px;
        justify-content: space-evenly;
    }

    .devBox,
    .employerBox {
        width: 50%;
    }

}